body {
    margin: 20%;
    text-align: center;
    background-color: rgb(109, 108, 108);
    }
.btn {
    background-color: black;
    color: white;
    margin-left: 20px;
    margin-right: 20px;

    border-radius: 20px;
    margin-bottom:  20px;

}
h1{
    color: rgb(255, 255, 255);
}

.editbtn{
    width: 70px;
    border-radius: 20px;
    background-color: yellow;
}